<!-- Extending Base Template -->
{% extends 'base.html' %}

<!-- Tile Content -->
{% block title %} Madlib Story Selection {% endblock %}

<!-- Body Content -->
{% block body %}
<form class="p-2" action="/form" method="GET">
  <select class="form-control mb-2" name="selection">
    {% for story_option_name in stories %}
    <option value="{{ story_option_name }}">{{ story_option_name }}</option>
    {% endfor %}
  </select>
  <button class="btn btn-success" type="submit">Submit</button>
</form>
{% endblock%}
