<!-- Extending Base Template -->
{% extends 'base.html' %}

<!-- Tile Content -->
{% block title %} MadLib Word Inputs {% endblock %}

<!-- Body Content -->
{% block body %}
<form id="word-input" class="p-2 text-center" action="/story">
  {% for request_word in request_words %}
  <p>
    <label for="{{ request_word }}">{{ request_word }}:</label>
    <input
      required
      type="text"
      name="{{ request_word }}"
      id="{{ request_word }}"
    />
  </p>
  {% endfor %}
  <p>
    <input
      type="hidden"
      name="current_story_title"
      id="current_story_title"
      value="{{ current_story_title }}"
    />
  </p>
  <button class="btn btn-secondary" type="submit">Submit</button>
</form>
{% endblock%}
